<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    </head>
<body>
    <div style="background-color: darkgoldenrod;">
        handlebars를 이용한 렌더화면
        {{{body }}}
    </div>
</body>
</html>